.MyName {
    text-align: center;
    font-size: 500%;
    margin-top: 10%;
}
.Links {
    position: sticky;
    top: 0;
    background-color: rgb(116, 105, 94);
    color:rgb(0, 0, 0);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.Bio {
    text-align: center;
    font-size: 200%;
    margin-top: 10%;
}
